*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Inter,sans-serif;
    background:#0f0f0f;
    color:#fff;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:24px 8%;
    position:fixed;
    width:100%;

    backdrop-filter:blur(10px);
}

nav{
    display:flex;
    gap:24px;
}

nav a{
    text-decoration:none;
    color:white;
}

.hero{
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    padding:0 20px;
}

.hero h1{
    font-size:72px;
    margin-bottom:16px;
}

.hero p{
    max-width:600px;
    margin-bottom:32px;
}

.btn{
    background:white;
    color:black;

    padding:14px 24px;
    border-radius:999px;

    text-decoration:none;
}

.section{
    padding:120px 8%;
}

.section h2{
    margin-bottom:32px;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:24px;
}

.card{
    border:1px solid #262626;
    padding:24px;
    border-radius:16px;
}

footer{
    text-align:center;
    padding:40px;
    border-top:1px solid #262626;
}